        .wrapper{
            width: 1366px;
            height: 300px;
            background-color: #234465;
            margin: 5px auto;
        }
        body div button{
            width: 170px;
            height: 45px;
            background-color: #234465;
            border: 2px solid #EE9508;
            display: block;
            color: white;
            position: relative;
            top: 60px;
            left: 130px;
            margin: 10px;
        }
        body div .AboutTheUniversity ,.OurFriends , .SoftwareUniversity{
            color: #EE9508;
            margin: -55px 0 0 350px;
            font-size: 15px;
        }
        .firstList li , .secondList li{
            list-style-type: none;
            color: white;
            font-size: 14px;
            margin: 0 0 5px 310px;
        }
        body div .OurFriends{
            margin: -205px 0 0 560px;
        }
        .secondList li{
            margin: 0 0 5px 520px;
        }
        .SoftwareUniversity{
            margin: -95px 0 0 760px;
        }
        .text{
            color: white;
            margin: 10px 0 0 760px;
        }
        .images{
            margin: 20px 0 0 750px;
        }
        .lastDiv{
            height: 230px;
            width: 280px;
            background-color: #E9ECEF;
            float: right;
            margin: -165px 30px 0 0;
            display: inline-block;
        }
        .lastDiv .logo{
            width: 60px;
            margin: 5px;
            
        }
        .lastDiv h1 {
            color: #695293;
            margin: -65px 0 0 80px;
            font-size: 17px;
        }
        body div .faceLike{
            width: 50px;
            margin: 5px 0 0 80px;
        }
        .lastDiv div{
            margin: -22px 0 0 140px;
        }
        hr{
           width: 90%;
        }
        body div .numbers{
            font-size: 13px;
            margin: 5px;
        }
        body div .numbers div {
            margin: -15px 0 0 150px; 
            color: #695293;
            font-size: 13px;
        }
        .lastDiv img{
            width: 50px;
            margin: 5px;
        }